*.pyc
__pycache__
*.o
*.obj
*.log
*.txt
*..iobj
*.pdb
*.ipdb
*.exp
*.ilk
.vs
.vscodes
/tool/**/bin/*
/tool/**/x64/*
/tool/**/Debug/*
/tool/**/Release/*
/tool/**/**/x64/*
/tool/**/**/Release/*
/tool/**/**/Debug/*
/script/tmp/*
/src/**/release/*
/src/**/debug/*
/util/bin/**
/env/*