*.pyc
__pycache__
*.o
*.obj
*.log
*.txt
*..iobj
*.pdb
*.ipdb
*.exp
*.ilk
.vs
.vscodes
/sln/**/x64/*
/sln/**/Debug/*
/sln/**/Release/*
/sln/**/**/x64/*
/sln/**/**/Release/*
/sln/**/**/Debug/*
/script/tmp/*
/src/**/release/*
/src/**/debug/*
/util/bin/**