*.pyc
__pycache__
*.o
*.obj
*.log
*.txt
*..iobj
*.pdb
*.ipdb
*.exp
*.ilk
.vs
.vscodes
/vsproject/**/x64/*
/vsproject/**/Debug/*
/vsproject/**/Release/*
/vsproject/**/**/x64/*
/vsproject/**/**/Release/*
/vsproject/**/**/Debug/*
/script/tmp/*
/src/**/release/*
/src/**/debug/*
/util/bin/**